
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Angular/angular.min.js"></script>
    <script src="~/Angular/ngApp.js"></script>
    <script src="~/Angular/ng-TestAPI.js"></script>
</head>

<body>
    <section ng-app="ng_eRSP_App" ng-controller="TestAPI_Ctrlr">
        <div class="row">
            <div><button ng-click="testAPI()">Test API</button></div>
        </div>
    </section>
</body>
</html>
