@{
    ViewBag.Title = "Index";
}

@section css_morris
{

    <link href="~/Content/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

}

    <style type="text/css">
        .flot-y-axis > .tickLabel {
            right: 45% !important;
        }
    </style>
    <script src="~/Angular/ng-cMainPage.js"></script>
    <section ng-app="ng_eRSP_App" ng-controller="cMainPage_Ctrlr">
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-4">
                <h2>Statistical Data</h2>
            </div>
            <div class="col-lg-2">
                <div class="btn-group">
                    <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-toggle="dropdown" data-placement="top" title="Click for more action">Summary Reports</button>
                    <ul class="dropdown-menu ">
                        <li><a ng-click="Summary_Appx_Reports()">Summary of Applicants Reports</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Budget Year</label>
                    <select id="budget_year_1" class="form-control" ng-model="budget_year_1" ng-change="selectBudgetYear()">
                        <option value="">Select Budget Year</option>
                        <option ng-repeat="l in year" value="{{l.year}}">{{l.year}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>No. of Applicants per Hiring Period</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-bar-chart"></div>
                            <div class="row text-left">
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i> <span id="appx_sum1"></span></span>
                                        <h4 class="text-muted m-b block">Applicants</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i> <span id="appx_permanent"></span></span>
                                        <h4 class="text-muted m-b block">Permanent</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i> <span id="appx_casual"></span></span>
                                        <h4 class="text-muted m-b block">Casual</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class=""></i> <span id="permanent_percent"></span></span>
                                        <h4 class="text-muted m-b block">Permanent</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class=""></i> <span id="casual_percent"></span></span>
                                        <h4 class="text-muted m-b block">Casual</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table id="NoOfAppxDataTable" style="width:100%;" class="table table-hover margin bottom" data-ordering="false">
                                <thead>
                                    <tr>
                                        <th width="4%"></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>No. of Applicants With Disability per Hiring Period</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-bar-chart2"></div>
                            <div class="row text-left">
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_sum2"></span></span>
                                        <h4 class="text-muted m-b block">Applicants w/ Disability</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="disbx_permanent"></span></span>
                                        <h4 class="text-muted m-b block">Permanent</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="disbx_casual"></span></span>
                                        <h4 class="text-muted m-b block">Casual</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class=""></i><span id="disbx_permanent_percent"></span></span>
                                        <h4 class="text-muted m-b block">Permanent</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class=""></i><span id="disbx_casual_percent"></span></span>
                                        <h4 class="text-muted m-b block">Casual</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table id="NoOfDisbxDataTable" class="table table-hover margin bottom" data-ordering="false">
                                <thead>
                                    <tr>
                                        <th width="4%"></th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>No. of Insider/Outsider Applicants </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-bar-chart3"></div>
                            <div class="row text-left">
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_insider"></span></span>
                                        <h4 class="text-muted m-b block">Insider</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_outsider"></span></span>
                                        <h4 class="text-muted m-b block">Outsider</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_inout_total"></span></span>
                                        <h4 class="text-muted m-b block">Total</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-percent"></i><span id="percent_insider"></span></span>
                                        <h4 class="text-muted m-b block">% Insider</h4>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-percent"></i><span id="percent_outsider"></span></span>
                                        <h4 class="text-muted m-b block">% Outsider</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table id="NoOfInOutDataTable" class="table table-hover margin bottom" data-ordering="false">
                                <thead>
                                    <tr>
                                        <th width="4%"></th>
                                        <th>Insider</th>
                                        <th>Outsider</th>
                                        <th width="4%"></th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Gender</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-pie-content" id="flot-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Civil Status</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <div class="flot-chart-pie-content" id="flot-pie-chart2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Religion</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-bar-chart4"></div>
                            <div class="row text-left">
                                <div class="col-xs-4">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_sum5"></span></span>
                                        <h4 class="text-muted m-b block">Total Number of Applicants</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table id="NoOfReligionDataTable" class="table table-hover margin bottom" data-ordering="false">
                                <thead>
                                    <tr>
                                        <th width="4%"></th>
                                        <th></th>


                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Ethnicity</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#">Config option 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div id="morris-bar-chart5"></div>
                            <div class="row text-left">
                                <div class="col-xs-4">
                                    <div class=" m-l-md">
                                        <span class="h3 font-bold m-t block text-success"><i class="fa fa-user-plus"></i><span id="appx_sum6"></span></span>
                                        <h4 class="text-muted m-b block">Total Number of Applicants</h4>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table id="NoOfEthnicityDataTable" class="table table-hover margin bottom" data-ordering="false">
                                <thead>
                                    <tr>
                                        <th width="4%"></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="modal fade" id="modal_print_preview" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
            <div class="modal-dialog" style="width:90% !important;height:100% !important;">
                <div class="modal-content  modal-content-add-edit">
                    <div class="modal-header navy-bg text-white">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title" id="modalLabelSmall">PRINT PREVIEW  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee_name_print}}</h3>
                    </div>
                    <div class="modal-body" style="padding:0px !important">
                        <div class="row">
                            <div class="col-lg-12">
                                <iframe style="width:90% !important;height:90% !important;border:0px none;" id="iframe_print_preview"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
@section js_flot
{
    <script src="~/Scripts/plugins/flot/jquery.flot.js"></script>
    <script src="~/Scripts/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Scripts/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/plugins/flot/jquery.flot.time.js"></script>

}

@section js_morris
{
    <script src="~/Scripts/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris.js"></script>

}

@section js_flot_demo
{
    <script src="~/Scripts/demo/flot-demo.js"></script>
}

@section js_morris_demo
{

    <script src="~/Scripts/demo/morris-demo.js"></script>
}
