@{
    ViewBag.Title = "Index";
}


<div class="text-center animated fadeInDown">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12 landing-page">
                <div id="inSlider" class="carousel carousel-fade" style="height:320px;" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#inSlider" data-slide-to="1"></li>
                        <li data-target="#inSlider" data-slide-to="2"></li>
                        <li data-target="#inSlider" data-slide-to="3"></li>
                        <li data-target="#inSlider" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner" style="height:380px !important;" role="listbox">
                        <div class="item active" style="height:380px !important;background-color:black;">
                            <div class="container">
                                <div class="carousel-caption" style="padding-left:60px;">

                                </div>
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back one" style="height:350px;"></div>
                        </div>
                        <div class="item" style="height:380px !important;">
                            <div class="container">
                                <div class="carousel-caption" style="padding-left:60px;">
                                    <h1>
                                        Welcome to HRIS <br />SelfService <br />for All Employee's<br />
                                    </h1>
                                    @*<p>This is where you can use<br /> government applications</p>*@
                                    @*<p>
                                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                                    </p>*@
                                </div>
                                @*<div class="carousel-image wow zoomIn">
                                    <img src="~/ResourcesImages/com_logo.png" height="250" />
                                </div>*@
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back two" style="height:350px;"></div>
                        </div>
                        <div class="item" style="height:380px !important;">
                            <div class="container">
                                <div class="carousel-caption blank" style="padding-left:100px;">
                                    <h1>DAVAO DE ORO</h1>
                                    <p>Province of Davao de Oro</p>
                                    @*<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>*@
                                </div>
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back three" style="height:350px;"></div>
                        </div>
                        @*<div class="item" style="height:380px !important;">
                            <div class="container">
                                <div class="carousel-caption blank" style="margin-left:80px;padding:10px;border-radius:5px;background:rgba(0,0,0,0.6);">
                                    <div style="opacity:1 !important;z-index:99999999;">
                                        <h1 style="opacity:100;z-index:9999">HRIS TEAM</h1>
                                        <p>
                                            We are the HRIS
                                            <small>
                                                Development Team.
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="header-back four" style="height:350px;"></div>
                        </div>*@
                        <div class="item" style="height:380px !important;">
                            <div class="container">
                                <div class="carousel-caption blank" style="margin-left:80px;padding:10px;border-radius:5px;background:rgba(0,0,0,0.6);">
                                    <div style="opacity:1 !important;z-index:99999999;">
                                        <h1 style="opacity:100;z-index:9999">HRIS TEAM</h1>
                                        <p>
                                            Programmer's and Tester's <br />
                                            <small>With The Project Lead.</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Set background for slide in css -->
                            <div class="header-back five" style="height:350px;"></div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
       
    </div>


</div>
