
@{
    ViewBag.Title = "Index";
}

<div class="text-center animated fadeInDown" style="padding:150px !important">
    <i class="fa fa-warning fa-5x text-warning" style="font-size:100px !important"></i>
    <br />
    <label style="font-size:45px !important">Access Denied</label>
    <h5>Sorry, You have no access in this page, Please review your url</h5>

    <div class="progress progress-striped active">
        <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" role="progressbar" class="progress-bar progress-bar-warning">
            <span class="sr-only"></span>
        </div>
    </div>
    <h6>@DateTime.Now</h6>
</div>

