  @{

}
<style type="text/css">
    .field {
        border-radius: 3px;
        height: 35px;
        font-size: 18px;
    }
    div.datepicker {
        z-index: 3000 !important;
    }
    .field-arrow {
        font-size: 26px;
    }

    .require-field {
        border: 1px solid red !important;
    }

    .currency {
        text-align: right;
    }

    .dt-hdr-rw {
        height: 46px;
    }

    .form-control.detail {
        padding-bottom: 0;
        padding-top: 0;
        height: 30px !important;
    }

    .money {
        text-align: right !important;
    }


    .row {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    /*li a{
        height:35px !important;
    }*/
    .btn {
        vertical-align: auto;
    }

    /*table.dataTable tbody td {
        padding: 0;
        padding-right: 4px;
        padding-left: 5px;
        text-align: center !important;
        vertical-align: middle !important;
    }*/
    table.dataTable thead tr th {
        font-size: medium;
    }

    .btn.action {
        height: 18px;
    }

    .modal-footer.detail {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .active-tab {
        background-color: #507CD1 !important;
        color: white !important;
    }

    .hidden-element {
        display: none;
    }

    .detail > .row {
        margin-top: 5px;
    }

    .font-bold {
        font-weight: bold !important;
    }

    .btn-reject {
        margin-bottom: 10px;
        margin-top: 10px;
        width: 20px;
        height: 20px;
    }
    /*div.modal-dialog.modal-lg{
        width:900px !important;
    }*/
    div.modal-dialog.modal-lllg{
        width:1200px !important;
    }

   
    .chkbox{
        width: 25px; 
        height: 25px; 
    }
          .action-btn button
           {
                    width:26px !important;
                    height:26px !important;
           }

           span.checkmark{
               margin-top:-.3px !important;
               width:26px !important;
               height:26.5px !important;
               margin-left:-30px !important;
           }

           label input[type="checkbox"]{
               font-size:large !important;
               margin-top:-.5px !important;
               width:26px !important;
               height:26.5px !important;
               margin-left:56px !important;
           }

           label.container{
               font-size:large !important;
               margin-top:-.5px !important;
               width:26px !important;
               height:26.5px !important;
               margin-left:56px !important;
           }
           label.container span.fa.fa-spinner.fa-spin{
               margin-top:3px !important;
               margin-left:-77px !important;
               color:red;
           }
           .grid-img {
               width: 50px;
               height: 50px;
           }

    .dropdown-menu {
        margin-left: -150px !important;
    }

    #prepareEndorsement {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
        
        .headerendorse {
            text-align: center !important;
            margin-bottom:-20px;
        }

        #prepareEndorsement.date {
            text-align: right;
            margin-bottom: 10px;
        }

        #prepareEndorsement.endorsement {
            margin-bottom: 20px;
        }

        #prepareEndorsement.applicant-list {
            border-collapse: collapse;
            width: 100%;
        }

            #prepareEndorsement.applicant-list th, #prepareEndorsement.applicant-list td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

        #prepareEndorsement.selected {
            font-weight: bold;
        }
</style>
<script src="~/Angular/ng-cComparativeAssessment.js"></script>
<section ng-app="ng_eRSP_App" ng-controller="cComparativeAssessment_Ctrlr" ng-click="onclick()">
    <!-- The modal -->

    <div class="modal fade" id="submittoexec_comments" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY with-background">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelfetch()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center><h2 class="modal-title" id="modalLabelSmall"><b>Submit Application To Chief Executive</b></h2></center>
                </div>
                <div class="modal-footer">
                    <div class="row no-padding" style="margin-top:-10px!important;">
                        <div class="col-lg-12 tabs-container m-b-md">
                            <textarea class="form-control" id="l1comment" ng-model="l1comment" ng-keyup="commentNotEmpty(l1comment)"></textarea>
                        </div>
                    </div>
                    <div class="row no-padding" style="margin-top:-10px!important;">
                        <div class="col-lg-12 tabs-container m-b-md">
                            <button class="btn btn-info pull-right" ng-show="nocomment" ng-click="submitToExec()"><span id="" class="fa fa-arrow-right"></span>&nbsp;&nbsp;Submit Without Comments</button>
                            <button class="btn btn-info pull-right" ng-show="!nocomment" ng-click="submitToExec()"><span id="" class="fa fa-arrow-right"></span>&nbsp;&nbsp;Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="PSB_To_Comparative_Assessment" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content animated flipInY with-background">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelfetch()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center><h2 class="modal-title" id="modalLabelSmall"><b>Applicant For Comparative Assessment</b></h2></center>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12 tabs-container m-b-md">
                            <table id="Data_List_Grid2" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="25%">OFFICE</th>
                                        <th width="7%">ITEM NO</th>
                                        <th width="25%">POSITION</th>
                                        <th width="25%">NAME</th>
                                        <th width="7%">SEX</th>
                                        <th width="11%">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="prepareEndorsement" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated flipInY with-background">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center><h2 class="modal-title" id="modalLabelSmall"><b>Prepare Endorsement</b></h2></center>
                </div>
                <div class="modal-body">
                    <form id="endorseForm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <button data-toggle="dropdown" class="btn btn-success btn-block"><span class="pull-left m-l-sm">ENDORSEMENT DATE:</span><span style="" class="fa fa-calendar pull-right m-r-sm"></span></button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="input-group date no-padding no-margins" data-provide="datepicker" style="margin-bottom:-2px!important;">
                                        <input type="text" id="endorse_dt" ng-model="endorse_dt" class="form-control text-center" required include />
                                        <div class="input-group-addon birth_date">
                                            <span class="fa fa-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-md">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <button data-toggle="dropdown" class="btn btn-success btn-block"><span class="pull-left m-l-sm">ENDORSE BY:</span><span style="" class="fa fa-calendar pull-right m-r-sm"></span></button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <div class="input-group date no-padding no-margins" style="margin-bottom:-2px!important;">
                                        <select class="form-control disable-white text-left norequired  no-padding" id="endorse_by" ng-model="endorse_by" required>
                                            <option value="">-- --</option>
                                            <option value="U10601"> GRACELYN M. MABIDA</option>
                                            <option value="U0027">	LARA ZAPHIRE KRISTY N. BERMEJO </option>
                                            <option value="U0028"> JANET I. TANHUECO</option>
                                            <option value="U0644">SHERYL S. MACALDE</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                            <h1 class="headerendorse" style="font-size:25px !important;">REPUBLIC OF THE PHILIPPINES</h1>
                            <h2 class="headerendorse" style="font-size:20px !important;">PROVINCE OF DAVAO DE ORO</h2>
                            <br />
                            <h2 class="headerendorse m-t-md" style="font-size:20px !important;">PROVINCIAL GOVERNOR'S OFFICE</h2>
                            <br />
                            <br />
                            <br />
                            <div style="text-align:center !important">
                                {{endorse_date}}
                            </div>
                            <div class="endorsement">
                                <p style="text-align:center !important; font-size:15px;">Endorsement</p>
                                <p class="justified" style="max-width:600px;margin:0 auto;text-indent:0">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The applicant below who is vying for the position of <b>{{endorse_position}}</b>, <b>SG-{{endorse_salary_grade}}</b>
                                    with <b>item no. {{endorse_item_no}}</b> at <b>{{endorse_department_name1}}</b> has complied with the minimum requirements and passed the screening
                                    of the Human Resource Merit Promotion and Selection Board (HRMPSB). His/her application is respectfully endorsed to
                                    the Honorable Governor for her final action/appointment:
                                </p>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div>
                                <center>
                                    <div ng-repeat="l in endorse_list">{{l.applicant_rank}}&nbsp;&nbsp;-&nbsp;&nbsp;<b  style="text-transform:capitalize !important;">{{l.applicant_name}}</b></div>
                                </center>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-info pull-right" ng-click="printEndorsement()"><span id="" class="fa fa-arrow-right"></span>&nbsp;&nbsp;Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="applicant_rating_detail" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lllg">
            <div class="modal-content animated flipInY with-background">
                <div class="modal-header modal-header-add-edit text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelfetch()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center><h2 class="modal-title" id="modalLabelSmall"><b>Applicants Rating Details</b></h2></center>
                </div>
                <div class="modal-footer">
                    <div class="row m-b-lg m-t-lg m-top-n10">
                        <form ng-model="profile">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="~/ResourcesImages/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                                    </div>
                                    <div class="col-sm-8 text-left">
                                        <div class="row">
                                            <h2 class="no-margins">
                                                {{profile.applicant_name}}
                                            </h2>

                                            <small>
                                                {{profile.app_address}}
                                            </small>
                                            <h4 class="m-top-20">Position:&nbsp;&nbsp;&nbsp;{{profile.position_long_title}}</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <table class="table m-top-n30">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <strong>Birth Date:</strong>
                                                </td>
                                                <td>
                                                    {{profile.birth_date}}
                                                </td>
                                                <td><strong>Appointment:</strong></td>
                                                <td>{{profile.appointment_descr}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Gender:</strong>
                                                </td>
                                                <td>
                                                    {{profile.gender_descr}}
                                                </td>
                                                <td><strong>Budget Year:</strong></td>
                                                <td>{{profile.budget_code}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Status:</strong>
                                                </td>
                                                <td>
                                                    {{profile.civil_status_descr}}
                                                </td>
                                                <td><strong>Office:</strong></td>
                                                <td>{{profile.department_name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="widget style1 lazur-bg">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <i class="fa fa-tasks fa-2x"></i>
                                                </div>
                                                <div class="col-xs-8 text-right">
                                                    <span class="">Exam Score </span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <h3 class="font-bold">{{individual.exam_rating}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget style1 navy-bg">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <i class="fa fa-university fa-2x"></i>
                                                </div>
                                                <div class="col-xs-8 text-right">
                                                    <span>QS Rating</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <h3 class="font-bold">{{individual.qs_rating}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget style1 yellow-bg">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <i class="fa fa-calculator fa-2x"></i>
                                                </div>
                                                <div class="col-xs-8 text-right">
                                                    <span>CBI Rating</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <h3 class="font-bold">{{individual.cbi_rating}}</h3>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-3">
                                        <div class="widget style1 red-bg">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <i class="fa fa-trophy fa-2x"></i>
                                                </div>
                                                <div class="col-xs-8 text-right">
                                                    <span>Total Rating</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 text-right">
                                                    <h3 class="font-bold">{{individual.total_rating}}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-6">
                            <div>
                                <div class="m-top-n1" ng-repeat="l in slideInnerText">
                                    <div class="row">
                                        <span class="pull-left m-left-20">{{l.sub_cat_descr}}</span>
                                        <small class="pull-right">{{l.psb_pnl_rating}}/{{l.sub_max_rate}}</small>
                                    </div>
                                    <div class="progress progress-small">
                                        <div id='{{l.slide_id }}' style='background-color:{{l.slide_color}};width:{{l.rate_percentage}}%' class='progress-bar'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding" style="margin-top:-10px!important;">
                        <div class="col-lg-12 tabs-container m-b-md">
                            <table id="Panel_Grid" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="30%">PANEL NAME</th>
                                        <th width="20%">ROLE</th>
                                        <th width="10%">KNOWLEDGE</th>
                                        <th width="10%">SKILLS</th>
                                        <th width="10%">ATTITUDE</th>
                                        <th width="10%">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="spinner_load" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="margin-top:10%;overflow:hidden">
        <div class="modal-dialog modal-lg modal-dialog-centered ">

            <div class="spiner-example">
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="sk-cube"></div>
                <div class="row" style="padding-top:5px;">

                    <div class="col-sm-12">
                        <div style="width:50%; float:left;" class="no-padding">
                            <span class="pull-left font-bold" style="margin-top:9px;margin-right:10px;color:white">Initializing data</span>
                        </div>
                        <div style="width:50%; float:right;" class="no-padding">
                            <div class="sk-spinner sk-spinner-three-bounce" style="margin-top:6px;">
                                <div class="sk-bounce1" style="background-color:white"></div>
                                <div class="sk-bounce2" style="background-color:white"></div>
                                <div class="sk-bounce3" style="background-color:white"></div>


                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
    <div class="modal fade" id="extracting_data" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" data-backdrop="static" data-keyboard="false" aria-hidden="true" style="margin-top:10%;overflow:hidden">
        <div class="modal-dialog modal-lg modal-dialog-centered ">

            <div class="spiner-example">
                <div class="sk-spinner sk-spinner-cube-grid" style="height:250px;width:250px;">
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="row" style="padding-top:5px;">

                        <div class="col-sm-12">
                            <div style="width:50%; float:left;" class="no-padding">
                                <span class="pull-left font-bold" style="margin-top:9px;margin-right:10px;color:white">Extracting data</span>
                            </div>
                            <div style="width:50%; float:right;" class="no-padding">
                                <div class="sk-spinner sk-spinner-three-bounce" style="margin-top:6px;">
                                    <div class="sk-bounce1" style="background-color:white"></div>
                                    <div class="sk-bounce2" style="background-color:white"></div>
                                    <div class="sk-bounce3" style="background-color:white"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row wrapper border-bottom white-bg page-heading" style="background-color:#507CD1">
        <div class="col-lg-6">
            <h2 class="text-white"><b>Comparative Assessment</b></h2>
        </div>
        <div class="col-lg-6" style="margin-top:12px;">
            <input type="search" class="form-control block headerSearch" tableref="Data_item_Grid" ng-model="search_name" placeholder="Search ....">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="ibox-title">
            <form id="submittoexec" novalidate>
                <div class="row">
                    <div class="col-sm-3 m-t-xs pull-left">
                        <span class="pull-left font-bold" style="margin-top:9px;margin-right:10px;"><b>Show</b></span>
                        <select class="form-control field-select-sm setTableRow" style="width:30%;float:left;" ng-model="rowLen" tableref="Data_List_Grid">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        <span class="font-bold" style="float:left;margin-top:9px;margin-left:10px;"><b>Entries</b></span>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 m-t-xs no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  no-padding">
                                <button data-toggle="dropdown" class="btn btn-success btn-block"><span class="pull-left m-l-sm font-13">EMPLOYMENT TYPE:</span><span style="" class="fa fa-book pull-right m-r-sm m-t-xs"></span></button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  no-padding">
                                <select class="form-control disable-white text-left vald norequired" id="employment_type" ng-model="employment_type" required>
                                    <option value="">-- --</option>
                                    <option value="CE">Casual</option>
                                    <option value="RE">Permanent</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 m-t-xs no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5  no-padding">
                                <button data-toggle="dropdown" class="btn btn-success btn-block"><span class="pull-left m-l-sm font-13">BUDGET YEAR:</span><span style="" class="fa fa-calendar pull-right m-r-sm m-t-xs"></span></button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7  no-padding">
                                <select class="form-control disable-white norequired" id="budget_code" ng-model="budget_code" ng-change="selectBudgetCode(budget_code)" required>
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="l in budget_year " value="{{l.budget_code}}">{{l.budget_description}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 m-t-xs pull-left">

                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 m-t-xs no-padding">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3  no-padding">
                                <button data-toggle="dropdown" class="btn btn-success btn-block"><span class="pull-left m-l-sm font-13">HRMPSB DATE:</span><span style="" class="fa fa-book pull-right m-r-sm m-t-xs"></span></button>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9  no-padding">
                                <select class="form-control disable-white removeReqOption" id="psb_ctrl_nbr" ng-model="psb_ctrl_nbr" ng-change="selectPsb_date(psb_ctrl_nbr)">
                                    <option value="">--Select Here--</option>
                                    <option ng-repeat="l in psbschedule" value="{{l.psb_ctrl_nbr}}">{{l.psb_date}}&nbsp;&nbsp;&nbsp;{{l.remarks_details}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <div class="row no-padding table-responsive" style="margin-top:-10px!important;">
                <div class="col-lg-12 tabs-container m-b-md  ">
                    <table id="Data_item_Grid" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="15%">Control Number</th>
                                <th width="45%">Description</th>
                                <th width="20%">Endorse Status</th>
                                <th width="20%">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    <div class="modal fade" id="comparative_item_applicant" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lllg">
            <div class="modal-content animated slideInLeft">
                <div class="modal-header text-white" style="background-color:#507CD1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelfetch()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <center><h2 class="modal-title" id="modalLabelSmall"><b>COMPARATIVE ASSESSMENT</b></h2></center><br />
                    <div class="row" style="font-size:15px;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label>ITEM NUMBER:</label>&nbsp;&nbsp;&nbsp;<span>{{itemnumber}}</span>

                            </div>
                            <div class="col-sm-4">
                                <label>POSITION:</label>&nbsp;&nbsp;&nbsp;<span>{{positionname}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="font-size:15px;">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label>DEPARTMENT:</label>&nbsp;&nbsp;&nbsp;<span>{{departmentname}}</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="row no-padding" style="margin-top:-10px!important;">
                        <div class="col-lg-12 tabs-container m-b-md">
                            <table id="Data_List_Grid" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th width="20%">LAST NAME</th>
                                        <th width="20%">FIRST NAME</th>
                                        <th width="10%">QS RATING</th>
                                        <th width="10%">CBI RATING</th>
                                        <th width="10%">EXAM RATING</th>
                                        <th width="10%">TOTAL</th>
                                        <th width="10%">RANK</th>
                                        <th width="5%">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal_print_preview" tabindex="-1" role="dialog" aria-labelledby="modalLabelSmall" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width:90%!important;">
            <div class="modal-content  modal-content-add-edit">
                <div class="modal-header navy-bg text-white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="modalLabelSmall">PRINT PREVIEW  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{employee_name_print}}</h3>
                </div>
                <div class="modal-body" style="padding:0px !important">
                    <div class="row">
                        <div class="col-lg-12">
                            <iframe style="width:100% !important;height:500px !important;border:0px none;" id="iframe_print_preview"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>




<script src="~/Scripts/plugins/dropzone/dropzone.js"> </script>
<script>
   
    function closeLoading() {
        $('#spinner_load').modal("hide");
    }

</script>

