
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





   
<script src="~/Angular/ng-cBackgroundInvestigation.js"></script>

    <section  ng-app="ng_eRSP_App" ng-controller="cBackgroundInvestigation_Ctrlr">
      
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>Background Investigation Question</h2>

                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight m-b-n-xl">
                    <div class="col-lg-12">
                        <div class="ibox collapsed">
                            <div class="ibox-title">
                                <h5>Show Applicants Info</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <p>
                                    Employee Name :<b>{{employee.first_name}} {{employee.last_name}}</b>
                                </p>
                                <p>
                                    Office :<b> {{employee.department_name1}} </b>
                                </p>
                                <p>
                                   Position :<b> {{employee.position_long_title}} </b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight m-b-n-xl m-t-n-lg">
                    <div class="col-lg-12">
                        <div class="ibox collapsed">
                            <div>
                                <label>Background Investigation Type</label>
                                <select class="form-control m-b" id="question_type" ng-model="question_type" ng-change="selectQuestion_type()" required>
                                    <option value="" selected>Select Type</option>
                                    <option ng-repeat="lst in bi_rating_questiontype_tbl" value="{{lst.question_type}}">{{lst.question_type_descr}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight m-b-n-xl m-t-n-lg">
                    <div class="col-lg-12">
                        <div class="ibox collapsed">
                            <div class="ibox-title">
                                <h5>Show Rating Scale</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>

                                </div>
                            </div>
                            <div class="ibox-content">

                                <p ng-repeat="lst in bi_rating_scale_tbl">
                                    <b>{{lst.rating_scale}} - </b>{{lst.rating_scale_descr}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="wrapper wrapper-content animated fadeInRight m-b-n-lg m-t-n-xl">
                    <div class="col-lg-12">
                        <div class="vote-item">

                            <form id="questions" novalidate>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div style="float:right;">
                                            <span class="input-group date no-padding no-margins" data-provide="datepicker" style="margin-bottom:-2px!important;">
                                                <input name="minDate" type="text" id="accomplished_date" ng-model="accomplished_date" class="form-control text-center dateMinVal removeReqDate" required>
                                                <div class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </div>
                                            </span>
                                            <small class="text-center period_from hidden pull-right" style="font-size:12px;height:15px;color:red"><i class="fa fa-info-circle"></i>&nbsp;Required field! </small>
                                        </div>
                                        <div style="float:right;">
                                            <span class="pull-left font-bold" style="margin-right:10px;">Accomplished Date:</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-repeat="lst1 in bi_criteria1_list" style="border-bottom:2px solid green;padding-bottom:5px;margin-bottom:5px;">
                                    <div><h2>{{lst1.criteria1_descr}}</h2></div>

                                    <div class="col-md-12 m-l-xl m-t-md m-b-md" ng-repeat="q1 in bi_questions_list" ng-if="q1.question_level == 1 && q1.criteria1_id == lst1.criteria1_id">
                                        <div class="row m-l-lg">
                                            <div class="vote-actions">
                                                <button class="btn btn-success" ng-click="setRatingUp(q1.model_name,q1.rating_scale)" style="width:4.6em !important">
                                                    <i class="fa fa-chevron-up"> </i>
                                                </button>
                                                <b>
                                                    <input type="text" maxlength="3" class="form-control text-success" id="{{q1.model_name}}" value="{{q1.question_rating}}" style="width:2.6em !important;font-size:25px !important;" ng-keyup="limitvalue(q1.rating_scale,q1.model_name)" include />
                                                </b>
                                                <button class="btn btn-danger" ng-click="setRatingDown(q1.model_name)" style="width:4.6em !important">
                                                    <i class="fa fa-chevron-down"> </i>
                                                </button>
                                            </div>
                                            <div class="m-l-lg m-t-lg">
                                                <a class="vote-title" style="font-size:20px !important">
                                                    {{q1.question_descr}}
                                                </a>
                                            </div>

                                        </div>
                                    </div>

                                    <div ng-repeat="lst2 in bi_criteria2_list" ng-if="lst2.criteria1_id == lst1.criteria1_id ">

                                        <div class="m-l-lg"><h3>{{lst2.criteria2_descr}}</h3></div>

                                        <div class="col-md-12 m-l-xl m-t-md m-b-md" ng-repeat="q2 in bi_questions_list" ng-if="q2.question_level == 2 && q2.criteria2_id == lst2.criteria2_id">
                                            <div class="row m-l-lg">
                                                <div class="vote-actions">
                                                    <button class="btn btn-success" ng-click="setRatingUp(q2.model_name,q2.rating_scale)" style="width:4.6em !important">
                                                        <i class="fa fa-chevron-up"> </i>
                                                    </button>
                                                    <b>
                                                        <input type="text" maxlength="3" class="form-control text-success" id="{{q2.model_name}}" value="{{q2.question_rating}}" style="width:2.6em !important;font-size:25px !important;" ng-keyup="limitvalue(q2.rating_scale,q2.model_name)" include />
                                                    </b>
                                                    <button class="btn btn-danger" ng-click="setRatingDown(q2.model_name)" style="width:4.6em !important">
                                                        <i class="fa fa-chevron-down"> </i>
                                                    </button>
                                                </div>
                                                <div class="m-l-lg m-t-lg">
                                                    <a class="vote-title" style="font-size:20px !important">
                                                        {{q2.question_descr}}
                                                    </a>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="m-l-lg" ng-repeat="lst3 in bi_criteria3_list" ng-if="lst3.criteria2_id == lst2.criteria2_id">
                                            <div class="m-l-lg">
                                                <h4>
                                                    {{lst3.criteria3_descr}}
                                                </h4>
                                            </div>
                                            <div class="col-md-12 m-l-xl m-t-md m-b-md" ng-repeat="q3 in bi_questions_list" ng-if="q3.question_level == 3 && q3.criteria3_id == lst3.criteria3_id">
                                                <div class="row m-l-lg">
                                                    <div class="vote-actions">
                                                        <button class="btn btn-success" ng-click="setRatingUp(q3.model_name,q3.rating_scale)" style="width:4.6em !important">
                                                            <i class="fa fa-chevron-up"> </i>
                                                        </button>
                                                        <b>
                                                            <input type="text" maxlength="3" class="form-control text-success" id="{{q3.model_name}}" value="{{q3.question_rating}}" style="width:2.6em !important;font-size:25px !important;" ng-keyup="limitvalue(q3.rating_scale,q3.model_name)" include />
                                                        </b>
                                                        <button class="btn btn-danger" ng-click="setRatingDown(q3.model_name)" style="width:4.6em !important">
                                                            <i class="fa fa-chevron-down"> </i>
                                                        </button>
                                                    </div>
                                                    <div class="m-l-lg m-t-lg">
                                                        <a class="vote-title" style="font-size:20px !important">
                                                            {{q3.question_descr}}
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="form-control btn btn-success" ng-click="save_bi_rating()">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
</section>

<script>
    const textInput = document.getElementsByClassName('leftratinginput');

    textInput.addEventListener('keyup', function () {
        if (this.value.length > 100) {
            this.value = this.value.slice(0, 100);
        }
    });

</script>

   


